<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>device</th>
      <th></th>
      <th>size</th>
      <th>global-id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_analyses_path, id: "analysis-bundle-form" do %>
      <% @bib.referrings_analyses.each do |analysis| %>
        <tr>
          <td>
            <%= check_box_tag("ids[]", analysis.id, false, {id: "ids_#{analysis.id}", class: "select-row"}) if can?(:update, analysis) %>
          </td>
          <td><%= link_to_if can?(:read, analysis), list_title(analysis), analysis %></td>
          <td><%= analysis.device.try!(:name) %></td>
          <td></td>
          <td><%= analysis.chemistries.size %></td>
          <td><%= analysis.try!(:global_id) %></td> 
          <td>
            <%= link_to bib_analysis_path(@bib,analysis) + tab_param(__FILE__), method: :delete ,title: "unlink analysis",data: {confirm: t("confirm.unlink")} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= form_for Analysis.new, url: bib_analyses_path(@bib) do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
        <th><%= f.text_field :name, class: "form-control input-sm" %></th>
        <th><%= f.select :device_id, Device.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
        <th>
          <%= f.button title:"add analysis file",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
        <th></th>
      <% end %>
      <%= form_tag link_by_global_id_bib_analyses_path(@bib),method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
        <th>
	  <div class="input-group">
	    <%= text_field_tag :global_id, nil, id: "analysis-global-id", class: "form-control input-sm" %>
	    <span class="input-group-addon">
	      <%= link_to analyses_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#analysis-global-id" do %>
	      <span class="glyphicon glyphicon-search"></span>
	      <% end %>
	    </span>
	  </div>
	</th>
        <th>
          <%= button_tag title: "link analysis by global id",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#analysis-bundle-form').submit();", class: "btn btn-default" %>

