<div class="btn-group">
  <%= display_type_for 'info' %>
  <%= display_type_for 'data' %>
  <%= display_type_for 'tex' %>
  <%#= display_type_for 'plot' if Settings.rplot_url %>
</div>

<div class="display-type">
  <div id="display-type-info">
    <ul>
      <%#= li_if_exist("entry type: ", @bib.entry_type) %>
      <%#= li_if_exist("abbreviation: ", @bib.abbreviation) %>
      <%#= li_if_exist("name: ", @bib.name) %>
      <%#= li_if_exist("author: ", @bib.author_lists) %>
      <%#= li_if_exist("journal: ", @bib.journal) %>
      <%#= li_if_exist("year: ", @bib.year) %>
      <%#= li_if_exist("volume: ", @bib.volume) %>
      <%#= li_if_exist("number: ", @bib.number) %>
      <%#= li_if_exist("pages: ", @bib.pages) %>
      <%#= li_if_exist("month: ", @bib.month) %>
      <%#= li_if_exist("note: ", @bib.note) %>
      <%#= li_if_exist("key: ", @bib.key) %>
      <%#= li_if_exist("link url: ", @bib.link_url) %>
      <% if @bib.abstract? %><li>abstract: <%= simple_format(@bib.abstract) %></li><% end %>
      <% if @bib.summary? %><li>summary: <%=simple_format(@bib.summary)%></li><% end %>
      <% if @bib.doi.present? %><li>doi: <%= link_to(@bib.doi, @bib.doi_link_url) %></li><% end %>
      <% if false && !@bib.tables.empty? %>
        <li>table:</li>
        <% @bib.tables.each do |table| %>
          <%= table.decorate.to_link %>
        <% end %>
      <% end %>
      <%#= li_if_exist("", @bib.specimens.map{ |specimen| content_tag(:span, nil, class: specimen_ghost(specimen, "glyphicon glyphicon-cloud")) + specimen.decorate.status_icon + link_to_if(can?(:read, specimen), specimen.name, url_for(specimen), class: specimen_ghost(specimen))  }.join(" ")) %>
      <%#= li_if_exist("", @bib.boxes.map{ |box| content_tag(:span, nil, class: "glyphicon glyphicon-folder-close") + link_to_if(can?(:read, box), box.name, url_for(box)) }.join(" ")) %>
      <%#= li_if_exist("", @bib.places.map{ |place| content_tag(:span, nil, class: "glyphicon glyphicon-globe") + link_to_if(can?(:read, place), place.name, url_for(place)) }.join(" ")) %>
      <%#= li_if_exist("", @bib.analyses.map{ |analysis| content_tag(:span, nil, class: "glyphicon glyphicon-stats") + link_to_if(can?(:read, analysis), analysis.name, url_for(analysis)) }.join(" ")) %>
      <%= li_if_exist("modified at ", difference_from_now(@bib.updated_at)) %>
      <% if @bib.attachment_pdf_files.present? %>
        <li>
          <% @bib.attachment_pdf_files.each do |attachment_pdf_file| %>
            <%= attachment_pdf_file.name %>
            <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
          <% end %>
        </li>
      <% end %>
    </ul>

  <div class="row spot-thumbnails">
    <%= @bib.decorate.related_pictures %>
  </div>

  </div>


  <div class="hidden" id="display-type-data">
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.16/iframeResizer.min.js"></script>
    !-->
    <!--
    <style>
      iframe {
        min-width: 100%;
      }
    </style>
    !-->
    <%= rplot_iframe @bib unless @bib.referrings_analyses.empty? %>
    <!--
    <script>
      iFrameResize({
        log:true,
        heightCalculationMethod: 'taggedElement'
      }, '#myIframe');
    </script>
    !-->
  </div>

  <div class="hidden" id="display-type-tex">
    <pre><code><%= @bib.to_tex %></code></pre>
  </div>
  <%#= display_plot @bib if Settings.rplot_url %>

</div>
