<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>box-type</th>
      <th></th>
      <th>global-id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_boxes_path, id: "box-bundle-form" do %>
      <% @bib.boxes.each do |box| %>
        <tr>
          <td>
            <%= check_box_tag("ids[]", box.id, false, {id: "ids_#{box.id}", class: "select-row"}) if can?(:update, box) %>
          </td>
          <td><%= link_to_if can?(:read, box), list_title(box),box %></td>
          <td><%= box.box_type.try!(:name) %></td>
          <td></td>
          <td><%= box.try!(:global_id) %></td> 
          <td>
            <%= link_to bib_box_path(@bib,box) + tab_param(__FILE__), method: :delete ,title: "unlink box",data: {confirm: t("confirm.unlink")} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= form_for Box.new, url: bib_boxes_path(@bib) do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
        <th><%= f.text_field :name, class: "form-control input-sm" %></th>
        <th><%= f.select :box_type_id, BoxType.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
        <th>
          <%= f.button title:"add box file", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
      <%= form_tag link_by_global_id_bib_boxes_path(@bib), method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
        <th>
	  <div class="input-group">
	    <%= text_field_tag :global_id, nil, id: "box-global-id", class: "form-control input-sm" %>
	    <span class="input-group-addon">
	      <%= link_to boxes_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#box-global-id" do %>
	      <span class="glyphicon glyphicon-search"></span>
	      <% end %>
	    </span>
	  </div>
	</th>
        <th>
          <%= button_tag title: "link box by global id", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#box-bundle-form').submit();", class: "btn btn-default" %>

