<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>caption</th>
      <th>assembly</th>
      <th><%= @alias_specimen %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bib.tables.each do |table| %>
      <tr>
        <td></td>
        <td><%= link_to_if can?(:read, table), list_title(table), table %></td>
        <td><%= link_to table.measurement_category.try!(:name), edit_measurement_category_path(table.measurement_category) if table.measurement_category %></td>
        <td><%= table.specimens.count %></td>
        <td>
          <%= link_to bib_table_path(@bib, table) + tab_param(__FILE__), method: :delete ,title: "delete table",data: {confirm: t("confirm.delete",:recordname => table.caption)} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= form_for Table.new, url: bib_tables_path(@bib, format: :json), remote: true, html: { class: "dinamic-message", role: "form" } do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        <th></th>
        <th><%= f.text_field :caption, class: "form-control input-sm" %></th>
        <th><%= f.select :measurement_category_id, MeasurementCategory.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
        <th>manual<%= f.check_box :flag_ignore_take_over_specimen, {}, true, false %></th>
        <th>
          <%= f.button title:"add table",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>        
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_table", function() {
    location.href="<%= bib_path(@bib, tab: "table") %>";
  });
<% end %>
