<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= show_title(@bib) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to family_bib_path(@bib), class: "btn btn-default activate", id: "tree-conifer-button", remote: true do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
        <% if @bib.has_image? %>
          <%= link_to picture_bib_path(@bib), class: "btn btn-default", id: "picture-button", remote: true do %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        <% end %>
        <% if @bib.all_places.present? %>
          <%= link_to map_bib_path(@bib), class: "btn btn-default", id: "globe-button", remote: true do %>
            <span class="glyphicon glyphicon-globe"></span>
          <% end %>
        <% end %>
      </div>
      <% if can? :update, @bib %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_bib_path(@bib), class: "btn btn-default", id: "pencil-button", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_bib_path(@bib), class: "btn btn-default", id: "cog-button", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_bib_path(@bib), class: "btn btn-default", id: "tag-button" do %>
          <span class="glyphicon glyphicon-tag"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>

  <div id="show-body" class="col-lg-8">
    <% cache @bib do %>
      <%= render(partial: "show_body") %>
    <% end %>
  </div>
</div>
