<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">info</a>
  <a href="#display-type-rplot" class="btn radio-button-group">data</a>
  <a href="#display-type-tex" class="btn radio-button-group">bibtex</a>
  <a href="#display-type-casteml" class="btn radio-button-group">casteml</a>  
  <%#= display_type_for 'plot' if Settings.rplot_url %>
</div>
<div class="display-type">
  <div id="display-type-html">
    <ul>
      <% unless @specimen.igsn.blank? %>
        <li>
          IGSN: <%= link_to @specimen.igsn, Settings.sesar_url(igsn: @specimen.igsn) %>
      <%= link_to Settings.sesar_url(igsn: @specimen.igsn, edit: true), title: "edit on SESAR" do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>

        </li>
      <% end %>
      <% if @specimen.place %>
        <% place = @specimen.place.decorate %>
        <li>
          place: <%= raw(place.try!(:latitude_to_html)) + ", " + raw(place.try!(:longitude_to_html)) %> <%= link_to "more", place_path(place) %>
        </li>
      <% end %>
      <%= li_if_exist("classification: ", @specimen.classification.try!(:full_name)) %>
      <%= li_if_exist("physical-form: ", @specimen.physical_form.try!(:name)) %>
      <%= li_if_exist("quantity (#{@specimen.quantity_unit}): ", @specimen.quantity) %>
      <%= content_tag(:li, "status: #{@specimen.status_name} #{@specimen.status_icon}", {}, false) if @specimen.status_name.present? %>
      <% if @specimen.abs_age_text %>
        <li> birth: <%= @specimen.abs_age_text %> </li>
        <%= li_if_exist("age (#{@specimen.age_unit}): ", @specimen.age_in_text) %>
      <% else %>
        <%= li_if_exist("age (#{@specimen.age_unit}): ", @specimen.age_in_text) %>
      <% end %>
      <%= li_if_exist("tag list: ", @specimen.tag_list) %>
      <%= li_if_exist("description: ", @specimen.description) %>
      <% @specimen.specimen_custom_attributes.each do |specimen_custom_attribute| %>
        <%= li_if_exist("#{specimen_custom_attribute.custom_attribute.name}: ", specimen_custom_attribute.value ) %>
      <% end %> 
      <li>modified at <%= difference_from_now(@specimen.updated_at) %></li>
      <%= li_if_exist("surface:", @specimen.surfaces_with_link) %>
      <%= li_if_exist("bib:", @specimen.bibs_with_link) %>
      <% if @specimen.attachment_pdf_files.present? %>
        <li>
          <% @specimen.attachment_pdf_files.each do |attachment_pdf_file| %>
            <%= attachment_pdf_file.name %>
            <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
          <% end %>
        </li>
      <% end %>  
      <li>analysis:<%= @specimen.list_of_summary_of_analysis %></li>
    </ul>
    <div class="row spot-thumbnails">
      <%= @specimen.decorate.related_pictures %>
    </div>


  </div>
  <div class="hidden" id="display-type-rplot">
    <% if false %>
      <%= high_chart("plot-summary", @specimen.generate_summary_plot) %>    
    <% else %>
      <%= @specimen.plot_chemistries %>
    <% end %>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @specimen.to_bibtex %></code></pre>
  </div>
  <div class="hidden" id="display-type-casteml">
    <pre><code><%= @specimen.to_pml %></code></pre>
  </div>  
  <%#= display_plot @specimen if Settings.rplot_url %>
</div>
