<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th colspan= "2">name</th>
      <th>global-id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_bibs_path, id: "bib-bundle-form" do %>
      <% @specimen.bibs.each do |bib| %>
        <tr>
          <td>
              <%= check_box_tag("ids[]", bib.id, checked: false, id: "ids_#{bib.id}", class: "select-row") if can?(:update, bib) %>
            </td>
          <td colspan="2"><%= link_to_if can?(:read, bib), list_title(bib), bib %></td>
          <td><%= bib.try!(:global_id) %></td>
          <td>
            <%= link_to specimen_bib_path(@specimen,bib) + tab_param(__FILE__), method: :delete ,title: "unlink bib",data: {confirm: t("confirm.unlink")} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
     <%= form_for Bib.new, url: specimen_bibs_path(@specimen) do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
        <th><%#= f.text_field :name, class: "form-control input-sm" %></th>
        <th>
          <%#= f.button title:"add bib",class: "btn btn-default" do %>
            <%#<span class="glyphicon glyphicon-save"></span>%>
          <%# end %>
        </th>
      <% end %>
    <%= form_tag link_by_global_id_specimen_bibs_path(@specimen), method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
        <th>
	  <div class="input-group">
	    <%= text_field_tag :global_id, "", id: "bib-global-id", class: "form-control input-sm" %>
	    <span class="input-group-addon">
	      <%= link_to bibs_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#bib-global-id" do %>
	      <span class="glyphicon glyphicon-search"></span>
	      <% end %>
	    </span>
	  </div>
	</th>
        <th>
          <%= button_tag title: "link bib by global id",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
    <tr>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#bib-bundle-form').submit();", class: "btn btn-default" %>

