<div class="display-type">
  <div id="display-type-html">
    <%= form_tag bundle_edit_specimens_path, id: "specimen-bundle-form" do %>
      <div class="row">
        <div  class="col-sm-1">
        </div>      
        <div  class="col-sm-2">
          name
        </div>
        <div class="col-sm-2">
          physical-form
        </div>
        <div class="col-sm-2">
          quantity
        </div>
      </div>
      <div class="daughter">
      <% @specimen.children.each do |specimen| %>
        <div class="row">
          <div  class="col-sm-1">
            <%= check_box_tag("ids[]", specimen.id, false, {id: "ids_#{specimen.id}", class: "select-row"}) if can?(:update, specimen) %>
          </div>
          <div class="col-sm-2">
            <%= specimen.decorate.status_icon %>
            <%= link_to_if can?(:read, specimen), list_title(specimen), specimen, class: specimen_ghost(specimen) %>
          </div>
          <div class="col-sm-2">
            <%= specimen.physical_form.try!(:name) %>
          </div>
          <div class="col-sm-2">
            <%= specimen.try!(:quantity) %>
            <%= specimen.try!(:quantity_unit) %>
          </div>
          <div class="col-sm-4">
          <%= specimen.try!(:global_id) %>
          </div>
          <div class="col-sm-1">            
              <%= link_to specimen_daughter_path(@specimen, specimen) + tab_param(__FILE__), method: :delete, title: "unlink specimen", data: {confirm: t("confirm.unlink")} do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2">
        <% unless @specimen.children.empty? %>
          <%= check_box_tag nil, nil, false, class: "select-row-all" %>
          <%#= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#specimen-bundle-form').submit();", class: "btn btn-default" %>
        <% end %>
      </div>
      <%= form_tag link_by_global_id_specimen_daughters_path(@specimen), method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
        <div class="col-sm-offset-5 col-sm-4">
          <div class="input-group">
            <%= text_field_tag :global_id, nil, id: "daughter-global-id", class: "form-control input-sm" %>
            <span class="input-group-addon">
              <%= link_to specimens_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#daughter-global-id" do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </span>
          </div>
        </div>
        <div class="col-sm-1">            
          <%= button_tag title: "link specimen by global id", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= form_for @divide_specimen, url: divide_specimen_path, remote: true, format: :json, html: { class: "update", role: "form", id: "divide_specimen" } do |f| %>
      <div class="children">
        <%= f.fields_for :children do |c| %>
          <% if c.object.id.nil? %>
            <%= render 'child_field', f: c %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 form-inline">
          Quantity <span id="original">(<%= (@specimen.quantity ? @specimen.quantity_with_unit : 'nil') %>)<span> is 
          <%= f.text_field :quantity_with_unit, class: "form-control input-sm parent quantity", id: "parent_quantity_with_unit", size: 5, readonly: true %>
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag :manual, class: "btn btn-default btn-sm" do %>
              <%= check_box_tag :manual, true, false, autocomplete: "off" %>
              <span class="glyphicon glyphicon-minus"></span>
            <% end %>
          </div>
          and loss is
          <span id="divided_loss">0.0 g</span>
          after operation <%= f.text_field :comment, placeholder: "cut by saw", class: "form-control input-sm", size: 12 %>.
        </div>
        <div class="col-sm-1">
          <%= f.button class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </div>        
      </div>
    <% end %>
    <%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#specimen-bundle-form').submit();", class: "btn btn-default" %>
  </div>
</div>

<%= javascript_tag do %>
  //ロスの計算
  function quantity_change_check() {
    var $form = $("form#divide_specimen");
    $.ajax({
      url: '<%= loss_divide_specimen_path %>',
      type: 'put',
      data: $form.serialize(),
      success: function(result){
        $("#parent_quantity").val(result.parent_quantity);
        $("#parent_quantity_unit").val(result.parent_quantity_unit);
        $("#parent_quantity_with_unit").val(result.parent_quantity + " " + result.parent_quantity_unit);        
        $("#divided_loss").text(result.loss_quantity + " " + result.loss_quantity_unit);
      }
    });
  };

  $(document).on("change", "input.quantity", function() {
    quantity_change_check();
  });

  $(document).on("click", ".remove-quantity-child", function() {
    quantity_change_check();
  });

  $(document).on("change", "#manual", function() {
    if ($(this).prop('checked')) {
      $("input.parent.quantity").attr("readonly", false);
      $(this).next().removeClass("glyphicon-minus");
      $(this).next().addClass("glyphicon-ok");
    } else {
      $("input.parent.quantity").attr("readonly", true);
      $(this).next().removeClass("glyphicon-ok");
      $(this).next().addClass("glyphicon-minus");
    }
    quantity_change_check();
  });

  $(document).on("succeed.ajaxForm", "#divide_specimen", function() {
    location.href="<%= specimen_path(@specimen) %>";
  });

  $(document).on("click", "input.select-row-all-div", function() {
    $(document).find("input.select-row").prop("checked", $(this).prop("checked"));
  });


<% end %>
