<%= javascript_tag do %>
  //グラフの点にマウスを合わせた際の表示
  function chartPointInfo() {
    var detail = "<b>" + this.series.name + "</b>";
    detail += "<br /><b>Quantity: </b>" + this.point.quantityStr;
    detail += "<br /><b>Date: </b>" + this.point.dateStr;
    detail += "<br /><b>Comment: </b>" + this.point.comment;
    if (this.point.beforeSpecimenName) {
      detail += "<br /><b>Original specimen: </b>" + this.point.beforeSpecimenName;
    }
    return detail;
  };
<% end %>
<%= high_chart("quantity_history_graph", @specimen.generate_chart_quantity_history) do %>
  <%=raw "options.tooltip.formatter = chartPointInfo;"  %>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading"><label>history</label></div>
  <div class="panel-body">
    <%= @specimen.history_table %>
  </div>
</div>

<div class="row">
  <a class="btn btn-default col-sm-12 show_switching_content_open">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <a class="btn btn-default col-sm-12 show_switching_content_close" style="display: none">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</div>
<div class="row show_switching_content" style="display: none">

  <%= render 'quantity_table', table_name: "total", data: @specimen.quantity_history[0] %>
  <% @specimen.quantity_history.each do |key, points| %>
    <% specimen = Specimen.find_by(id: key) %>
    <% data = points.uniq {|point| point[:id] } %>
    <% if specimen %>
      <%= render 'quantity_table', table_name: (@specimen == specimen ? "myself (#{specimen.name})" : link_to(specimen.name, specimen)), data: data %>
    <% end %>
  <% end %>
</div>