<% if @specimens.present? %>
  <% specimen_ids = @specimens.pluck(:id) %>
  <div class="text-right">
    <%= link_to download_bundle_label_specimens_path(ids: specimen_ids), :title => "print labels" do %>
      <i class="glyphicon glyphicon-tag"></i>
    <% end %>
    ,<%= link_to download_bundle_list_specimens_path(ids: specimen_ids), :title => "download list" do %>
      <i class="glyphicon glyphicon-list-alt"></i>
    <% end %>
    ,<%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_bundle_card_specimens_path(ids: specimen_ids), :title => "download cards") %>,
    and <%= link_to("A4", download_bundle_card_specimens_path(ids: specimen_ids, a4: true), :title => "download A4") %>
  </div>
<% end %>

<%= form_for Specimen.new, url: bundle_update_specimens_path do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <% @search_columns.each do |column| %>
        <th><%= column.display_name %></th>
      <% end %>
      <th><%= toggle_column_link method: "post" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: :specimen, collection: @specimens, locals: { checked: true } %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= check_box_tag nil, nil, true, class: "select-row-all" %></th>
      <th></th>
      <% @search_columns.each do |column| %>
        <th>
          <%= SpecimenDecorator.create_form(f, column, :bundle_edit) %>
        </th>
      <% end %>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </th>
    </tr>
  </tfoot>
</table>
<% end %>
