<%= paginate @specimens %>
<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th></th>
      <% @search_columns.each do |column| %>
      <th>
        <% if SpecimenDecorator.search_name(column).present? %>
          <%= sort_link @search, SpecimenDecorator.search_name(column), column.display_name %>
        <% else %>
          <%= column.display_name %>
        <% end %>
      </th>
      <% end %>
      <th><%= toggle_column_link %></th>
    </tr>
    <tr>
      <th style="vertical-align:top;">
        <%= text_field_tag :per_page, (params[:per_page] || Specimen.default_per_page), class: "form-control input-sm", size: 4 %>
      </th>
      <th></th>
      <% @search_columns.each do |column| %>
      <th style="vertical-align:top;">
        <%= SpecimenDecorator.search_form(f, column) %>
      </th>
      <% end %>
    <% end %>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_specimens_path, id: "bundle-form" do %>
    <%= render partial: :specimen, collection: @specimens, locals: { checked: false } %>
    <% end %>
  </tbody>
  <tfoot>
    <%= render partial: "new", locals: { specimen: Specimen.new } %>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#bundle-form').submit();", class: "btn btn-default" %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_specimen", function() {
    $("#specimen_search").submit();
  });
<% end %>
