<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @specimen.path_with_id %> <%= published_label(@specimen) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to family_specimen_path(@specimen), class: "btn btn-default activate", id: "tree-conifer-button", remote: true do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
        <% if @specimen.has_image? %>
          <%= link_to picture_specimen_path(@specimen), class: "btn btn-default", id: "picture-button", remote: true do %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        <% end %>
        <%= link_to map_specimen_path(@specimen), class: "btn btn-default", id: "globe-button", remote: true do %>
          <span class="glyphicon glyphicon-globe"></span>
        <% end %>
      </div>
      <% if can? :update, @specimen %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_specimen_path(@specimen), class: "btn btn-default", id: "pencil-button", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to detail_edit_specimen_path(@specimen), class: "btn btn-default", id: "wrench-button", remote: true do %>
          <span class="glyphicon glyphicon-wrench"></span>
        <% end %>
        <%= link_to property_specimen_path(@specimen), class: "btn btn-default", id: "cog-button", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_specimen_path(@specimen), class: "btn btn-default", id: "tag-button" do %>
          <span class="glyphicon glyphicon-tag"></span>
        <% end %>
        <%= link_to download_card_specimen_path(@specimen), class: "btn btn-default", id: "file-button" do %>
          <span class="glyphicon glyphicon-file"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <% cache @specimen do %>
      <%= render(partial: "show_body") %>
    <% end %>
  </div>
</div>
