<% if @boxes.present? %>
  <% box_ids = @boxes.pluck(:id) %>
  <div class="text-right">
    <%= link_to download_bundle_label_boxes_path(ids: box_ids) do %>
      <i class="glyphicon glyphicon-tag"></i>
    <% end %>
    ,<%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_bundle_card_boxes_path(ids: box_ids)) %>,
    and <%= link_to("A4", download_bundle_card_boxes_path(ids: box_ids, a4: true)) %>
  </div>
<% end %>

<%= form_for Box.new, url: bundle_update_boxes_path do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>name</th>
      <th>parent</th>
      <th>box-type</th>
      <%= th_if_expand "tags" %>
      <%= th_if_expand "owner" %>
      <th>group</th>
      <%= th_if_expand "published" %>
      <th>updated-at</th>
     <%= th_if_expand "created-at" %>
      <th><%= toggle_column_link method: "post" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: :box, collection: @boxes, locals: { checked: true } %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= check_box_tag nil, nil, true, class: "select-row-all" %></th>
      <th></th>
      <th></th>
      <th>
	<div class="input-group">
	  <%= f.text_field :parent_global_id, class: "form-control input-sm" %>
	  <span class="input-group-addon">
	    <%= link_to boxes_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#box_parent_global_id" do %>
	    <span class="glyphicon glyphicon-search"></span>
	    <% end %>
	  </span>
	</div>
      </th>
      <th><%= f.select :box_type_id, BoxType.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
      <%= th_if_expand do %>
        <%= f.text_field :tag_list, class: "form-control input-sm" %>
      <% end %>
      <%= th_if_expand do %>
        <%= f.select :user_id ,User.pluck(:username, :id), { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th><%= f.select :group_id ,Group.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
      <%= th_if_expand do %>
        <%= f.select :published ,[true, false], { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th>
        <%= f.button class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% end %>
