<%= javascript_tag do %>
  $(document).on("click", "span.badge", function() {
    var $data = $(this).data();
    $data.depth = $(this).parent().parent().data('depth');
    var content = '#tree-' + $data.klass + '-' + $data.record_property_id
    if ($(content).html() == "") {
      $.ajax({
        url: '<%= tree_node_box_path %>',
        type: 'get',
        data: $data,
        success: function(result){
          $(content).replaceWith(result.tree_node);
          $(content).removeClass('in');
          $("a[href = " + content + "]").click();
        }
      });
    }
  });
<% end %>
<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @box.box_path_with_id %> <%= published_label(@box) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to family_box_path(@box), class: "btn btn-default activate",  id: "tree-conifer-button", remote: true do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
        <% if @box.has_image? %>
          <%= link_to picture_box_path(@box), class: "btn btn-default", id: "picture-button", remote: true do %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        <% end %>
      </div>
      <% if can? :update, @box %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_box_path(@box), class: "btn btn-default", id: "pencil-button", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_box_path(@box), class: "btn btn-default", id: "cog-button", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_box_path(@box), class: "btn btn-default", id: "tag-button" do %>
          <span class="glyphicon glyphicon-tag"></span>
        <% end %>
        <%= link_to download_card_box_path(@box), class: "btn btn-default", id: "file-button" do %>
          <span class="glyphicon glyphicon-file"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>

  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="<%= active_if_current('at-a-glance') %>">
        <a href="#at-a-glance" data-toggle="tab">at-a-glance</a>
      </li>
      <li class="<%= active_if_current('specimen') %>">
        <a href="#specimen" data-toggle="tab"><%= @alias_specimen + data_count(@box.specimens) %></a>
      </li>
      <li class="<%= active_if_current('daughter') %>">
        <a href="#daughter" data-toggle="tab"><%= "box#{data_count(@box.children)}" %></a>
      </li>
      <li class="<%= active_if_current('history') %>">
        <a href="#history" data-toggle="tab"><%= "history#{data_count(@box.paths)}" %></a>
      </li>
      <li class="<%= active_if_current('analysis') %>">
        <a href="#analysis" data-toggle="tab"><%= "analysis#{data_count(@box.analyses)}" %></a>
      </li>
      <li class="<%= active_if_current('bib') %>">
        <a href="#bib" data-toggle="tab"><%= "bib#{data_count(@box.bibs)}" %></a>
      </li>
      <li class="<%= active_if_current('file') %>">
        <a href="#file" data-toggle="tab"><%= "file#{data_count(@box.attachment_files)}" %></a>
      </li>
    </ul>

    <!-- Tab panes -->
    <% tab_info = [
        ["at-a-glance",nil],
        ["specimen",@box.specimens],
        ["daughter",@box.children,"box"],
        ["history", @box.paths],
        ["analysis",@box.analyses],
        ["bib",@box.bibs],
        ["file",@box.attachment_files]
    ] %>
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
