<div class="btn-group">
  <%= display_type_for 'info' %>
  <%= display_type_for 'data' %>
</div>

<div class="display-type">
  <div id="display-type-info">

<ul>
  <%= li_if_exist 'technique: ', @analysis.technique.try!(:name) %>
  <%= li_if_exist 'device: ', @analysis.device.try!(:name) %>
  <%= li_if_exist 'operator: ', @analysis.try!(:operator) %>
  <%= li_if_exist 'description: ', @analysis.try!(:description) %>
  <li>modified at <%= difference_from_now(@analysis.updated_at) -%></li>
  <% if @analysis.specimen %>
    <li><%= @alias_specimen %>: <%= link_to_if can?(:read, @analysis.specimen), @analysis.specimen.name,specimen_path(@analysis.specimen), class: specimen_ghost(@analysis.specimen) %></li>
  <% end %>
  <% unless @analysis.bibs.empty? %>
    <li>references:</li>
    <ul>
      <% BibDecorator.decorate_collection(@analysis.bibs).each do |bib| %>
        <li>
          <%== bib.to_html %>
          <%= link_to_if can?(:read, bib), "more", bib %>
          <% if bib.primary_pdf_attachment_file %>
            <%= link_to_if(can?(:read, bib.primary_pdf_attachment_file), image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(bib.primary_pdf_attachment_file)) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @analysis.attachment_pdf_files.present? %>
    <li>
      <% @analysis.attachment_pdf_files.each do |attachment_pdf_file| %>
        <%= attachment_pdf_file.name %>
        <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
      <% end %>
    </li>
  <% end %>
</ul>


<div class="row spot-thumbnails">
  <%= @analysis.decorate.related_pictures %>
</div>


<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>measured</th>
      <th>value</th>
      <th>uncertainty</th>
      <th>unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @analysis.chemistries.each do |chemistry| %>
      <tr>
        <td><%= link_to raw(chemistry.measurement_item.display_name),edit_chemistry_path(chemistry) %></td>
        <td><%= chemistry.value %></td>
        <td><%= chemistry.uncertainty %></td>
        <td><%== chemistry.unit.try!(:html) %></td>
        <td>
          <%= link_to analysis_chemistry_path(@analysis,chemistry), method: :delete ,title: "delete chemistory",data: {confirm: t("confirm.delete",:recordname => chemistry.measurement_item.nickname)} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
   <tr>
     <%= form_for Chemistry.new, url: analysis_chemistries_path(@analysis) do |f|%>
        <th><%= f.select :measurement_item_id, MeasurementItem.all.map{|r|[raw(r.display_name),r.id]}, {}, class: "form-control input-sm" %></th>
        <th><%= f.text_field :value, class: "form-control input-sm" %></th>
        <th><%= f.text_field :uncertainty, class: "form-control input-sm" %></th>
        <th><%= f.select :unit_id, Unit.all.map { |unit| [raw(unit.html), unit.id] }, class: "form-control input-sm" %></th>
        <th>
          <%= f.button title:"add chemistry",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
    <tr>
  </tfoot>

  </tfoot>
</table>
<% if @analysis.chemistries.empty? %>
  <div>
  form for 
  <% MeasurementCategory.pluck(:name, :id).each do |name, id| %>
    <%= link_to name,multiple_new_analysis_chemistries_path(@analysis,measurement_category_id: id) %>
  <% end %>
</div>
<% end %>
</div>


  <div class="hidden" id="display-type-data">
    <%= rplot_iframe @analysis %>
  </div>
</div>