<%= paginate @analyses %>
<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :name, "name" %></th>
      <th><%= sort_link @search, :device_name, "device" %></th>
      <th><%= sort_link @search, :specimen_name, @alias_specimen %></th>
      <th>summary</th>
      <%= th_if_expand do %>
        <%= sort_link @search, :user_username, "owner" %>
      <% end %>
      <th><%= sort_link @search, :group_name, "group" %></th>
      <%= th_if_expand do %>
        <%= sort_link @search, :record_property_published_at, "published" %>
      <% end %>
      <th><%= sort_link @search, :updated_at, "updated-at" %></th>
      <%= th_if_expand do %>
        <%= sort_link @search, :created_at, "created-at" %>
      <% end %>
      <th><%= toggle_column_link %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || Analysis.default_per_page), class: "form-control input-sm", size: 4 %></th>
      <th><%= f.text_field :name_cont, class: "form-control input-sm", size: 15 %></th>
      <th><%= f.text_field :device_name_cont, class: "form-control input-sm", size: 12 %></th>
      <th><%= f.text_field :specimen_name_cont, class: "form-control input-sm", size: 15 %></th>
      <th></th>
      <%= th_if_expand do %>
        <%= f.text_field :user_username_cont, class: "form-control input-sm", size: 15 %>
      <% end %>
      <th><%= f.text_field :group_name_cont, class: "form-control input-sm", size: 15 %></th>
      <%= th_if_expand do %>
        <%= f.select :record_property_published_eq, [true, false], { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th>
        <%= f.text_field :updated_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <%= th_if_expand do %>
        <%= f.text_field :created_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%= th_if_expand nil %>
      <th></th>
      <%= th_if_expand nil %>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <%= th_if_expand do %>
        <%= f.text_field :created_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      <% end %>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_analyses_path, id: "bundle-form" do %>
    <%= render partial: :analysis, collection: @analyses, locals: { checked: false } %>
    <% end %>
  </tbody>
  <tfoot>
    <%= render partial: "new", locals: { analysis: Analysis.new } %>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#bundle-form').submit();", class: "btn btn-default" %>

<div id="csv-control">
  <% template = MeasurementCategory.first %>
  <% if template %>
    To create analysis records at once, download a <%= link_to "template", new_analysis_path(format: :csv, measurement_category_id: template.id) %> and modify, then upload.
  <% end %>
  <%= form_tag(import_analyses_path, method: :post, multipart: true) do %>
    <%= file_field_tag :data %>
    <%= submit_tag :upload %>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_analysis", function() {
    $("#analysis_search").submit();
  });
<% end %>
