<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">info</a>
  <a href="#display-type-rplot" class="btn radio-button-group">data</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div>

<div class="display-type">
  <div id="display-type-html">
<ul>
  <%= li_if_exist("name: ", @attachment_file.name) %>
  <%= li_if_exist("description: ", @attachment_file.description) %>
  <li>content-type: <%= @attachment_file.data_content_type %></li>
  <li>size: <%= number_to_human_size(@attachment_file.data_file_size) %></li>
  <% if @attachment_file.image? %>
    <li>geometry: <%= sprintf("%sx%s pix, %.1fx%.1f µm",@attachment_file.original_width.to_s,@attachment_file.original_height.to_s , @attachment_file.width_in_um,@attachment_file.height_in_um) unless @attachment_file.affine_matrix.blank? %> </li>
    <% unless @attachment_file.affine_matrix.blank? %>
      <li>affine matrix: <%= @attachment_file.affine_matrix_in_string %>
      </li>
    <% end %>
  <% end %>
  <% if @attachment_file.surface_images.present? %>
    <li>
      <% @attachment_file.surface_images.each do |surface_image| %>
        <% surface = surface_image.surface %>
        <%= link_to(list_title(surface), surface_path(surface)) %>
      <% end %>
    </li>
  <% end %>  

  <li>modified at <%= difference_from_now(@attachment_file.updated_at) -%></li>
  <% if @attachment_file.pdf? %>
    <li>
      <%= @attachment_file.name %>
      <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(@attachment_file.id), id: "file-#{@attachment_file.id}-button") %>
    </li>
  <% end %>
</ul>
<div class="row spot-thumbnails">
  <%= @attachment_file.decorate.related_pictures %>
</div>


</div>
  <div class="hidden" id="display-type-rplot">
    <% if @attachment_file.image? %>
      <%= rplot_iframe @attachment_file %>
    <% end %>
  </div>

  <div class="hidden" id="display-type-tex">
    <pre><code><%= @attachment_file.to_tex %></code></pre>
  </div>
</div>

