<tr>
  <td><%= check_box_tag("ids[]", attachment_file.id, checked, id: "ids_#{attachment_file.id}", class: "select-row") if can?(:update, attachment_file) %></td>
  <td><%= link_to attachment_file.decorate.picture(width: 70, height: 70, type: :thumb), attachment_file if attachment_file.image? %></td>
  <td>
    <%= link_to list_title(attachment_file), attachment_file %>
    <% if attachment_file.pdf? %>
      <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_file.id), id: "file-#{attachment_file.id}-button") %>
    <% end %>
  </td>
  <td><%= attachment_file.data_content_type %></td>
  <td><%= attachment_file.data_file_size %></td>
  <%= td_if_expand attachment_file.user.try!(:username) %>
  <td><%= attachment_file.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(attachment_file.published_at) %>
  <td><%= difference_from_now(attachment_file.updated_at) %></td>
  <%= td_if_expand difference_from_now(attachment_file.created_at) %>
</tr>

