<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= show_title(@attachment_file) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to picture_attachment_file_path(@attachment_file), class: "btn btn-default activate", remote: true do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
      </div>
      <% if can? :update, @attachment_file %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_attachment_file_path(@attachment_file), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_attachment_file_path(@attachment_file), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
        <%= link_to @attachment_file.path, class: "btn btn-default " do %>
          <span class="glyphicon glyphicon-picture"></span>
        <% end %>
        <%= link_to download_attachment_file_path(@attachment_file), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-file"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>

  <div id="show-body" class="col-lg-8">
    <% tab_info = [
        ["at-a-glance",nil],
#        ["spot",@attachment_file.spots],
        ["specimen",@attachment_file.specimens],
        ["box",@attachment_file.boxes],
        ["place",@attachment_file.places],
        ["analysis",@attachment_file.analyses],
        ["bib",@attachment_file.bibs]] %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array| %>
       <li class="<%= active_if_current(key) %>" ><a href="#<%= key %>" data-toggle="tab"><%= key + data_count(array) %></a></li>
      <% end %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>

  </div>
</div>
