<% if @surface.globe? %>
  <%= ActsAsMappable::Mappable::HtmlGenerator.generate(lat: 0, lng: 0, zoom: 0, width: 300, height: 300) %>
<% else %>
  <%= @surface.map(class: "small-map", add_spot: true) %>

  <%= form_for Spot.new, url: surface_spots_path(@surface) do |f|%>
    <%= hidden_field_tag :tab,"" %>
    <table>
      <tr>
	<td><%=icon_tag("screenshot") %> (link ID </td>
	<td>
	  <div class="input-group">
	    <%= f.text_field :target_uid, class: "form-control input-sm" %>
	    <span class="input-group-addon">
	      <%= link_to records_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#spot_target_uid" do %>
		<span class="glyphicon glyphicon-search"></span>
	      <% end %>
	    </span>
	  </div>
	</td>
	<td>)</td>
	<td>
          <%= f.hidden_field :world_x ,value: "0" %>
          <%= f.hidden_field :world_y ,value: "0" %>
          <%= f.hidden_field :radius_in_percent ,value: "1" %>
          <%= f.hidden_field :stroke_color ,value: "blue" %>
          <%= f.hidden_field :stroke_width ,value: "0" %>
          <%= f.hidden_field :fill_color ,value: "blue" %>
          <%= f.hidden_field :opacity ,value: "0" %>
          <%= f.hidden_field :with_cross ,value: "false" %>
          <%= f.button title:"add new spot", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
	</td>
      </tr>
    </table>
  <% end %>
<% end  %>
<div id="family-tree">
  <%= @surface.family_tree %>
</div>
<%= @surface.related_pictures %>

<% if @surface.globe? %>
  <%= javascript_tag "actsAsMappable.initToMap();" %>
<% else %>
  <%= javascript_tag do %>
    $("div.surface-viewer").surfaceViewer();
  <% end %>
  <script>
    initSurfaceMap();
    $(document).on("submit", "#new_spot", function() {
      var point = surfaceMap.getSpotPoint();
      if (!point) { return false; }
      $("#spot_world_x").val(point.x);
      $("#spot_world_y").val(point.y);
    });
  </script>
<% end  %>
