<% if @surface.globe? %>
  <%= ActsAsMappable::Mappable::HtmlGenerator.generate(lat: 0, lng: 0, zoom: 0, width: "auto", height: 500) %>
  <%= javascript_tag "actsAsMappable.initToMap();" %>
<% else %>
  <%= @surface.map %>
  <%= javascript_tag "initSurfaceMap();" %>
<% end  %>
