<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th></th>
      <th>distance (km)</th >
      <th>sample</th>
    </tr>
  </thead>
  <body>
    <% @place.readable_neighbors(@current_user).each do |neighbor| %>
      <tr>
        <td></td>
        <td><%= link_to_if can?(:read, neighbor), list_title(neighbor),place_path(neighbor) %></td>
        <td><%= raw neighbor.to_html %></td>
        <td><%= "%0.3f" % neighbor.distance.to_f %></td>
        <td>
          <% neighbor.specimens.each do |specimen| %>
            <%= link_to specimen.name,specimen_path(specimen), class: specimen_ghost(specimen) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
