<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>name</th>
      <th>physical-form</th>
      <th>quantity</th>
      <th>unit</th>
      <th></th>
      <th>global-id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_specimens_path, id: "specimen-bundle-form" do %>
      <% @place.specimens.each do |specimen| %>
        <tr>
          <td>
            <%= check_box_tag("ids[]", specimen.id, false, {id: "ids_#{specimen.id}", class: "select-row"}) if can?(:update, specimen) %>
          </td>
          <td><%= specimen.decorate.status_icon %></td>
          <td><%= link_to_if can?(:read, specimen), list_title(specimen),specimen, class: specimen_ghost(specimen) %></td>
          <td><%= specimen.physical_form.try!(:name) %></td>
          <td><%= specimen.try!(:quantity) %></td>
          <td><%= specimen.try!(:quantity_unit) %></td>
          <td></td>
          <td><%= specimen.try!(:global_id) %></td> 
          <td>
            <%= link_to place_specimen_path(@place,specimen) + tab_param(__FILE__), method: :delete ,title: "unlink specimen",data: {confirm: t("confirm.unlink")} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= form_for Specimen.new, url: place_specimens_path(@place) do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
        <th></th>
        <th><%= f.text_field :name, class: "form-control input-sm" %></th>
        <th><%= f.select :physical_form_id, PhysicalForm.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
        <th><%= f.text_field :quantity, class: "form-control input-sm" %></th>
        <th><%= f.text_field :quantity_unit, class: "form-control input-sm" %></th>
        <th>
          <%= f.button title:"add specimen file",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
      <%= form_tag link_by_global_id_place_specimens_path(@place),method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
        <th>
	  <div class="input-group">
	    <%= text_field_tag :global_id, nil, id: "specimen-global-id" ,class: "form-control input-sm" %>
	    <span class="input-group-addon">
	      <%= link_to specimens_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#specimen-global-id" do %>
	      <span class="glyphicon glyphicon-search"></span>
	      <% end %>
	    </span>
	  </div>
	</th>
        <th>
          <%= button_tag title: "link specimen by global id",class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#specimen-bundle-form').submit();", class: "btn btn-default" %>

