<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= show_title(@place) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
	<%= link_to map_place_path(@place), class: "btn btn-default activate", remote: true do %>
	  <span class="glyphicon glyphicon-globe"></span>
	<% end %>
      </div>
      <% if can? :update, @place %>
      <div class="btn-group btn-group-sm">
	<%= link_to edit_place_path(@place), class: "btn btn-default", remote: true do %>
	  <span class="glyphicon glyphicon-pencil"></span>
	<% end %>
	<%= link_to property_place_path(@place), class: "btn btn-default", remote: true do %>
	  <span class="glyphicon glyphicon-cog"></span>
	<% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
	<%= link_to place_path(@place, format: :kml), class: "btn btn-default" do %>
	  <span class="glyphicon glyphicon-file"></span>
	<% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>

  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="<%= active_if_current('at-a-glance') %>">
        <a href="#at-a-glance" data-toggle="tab">at-a-glance</a>
      </li>
      <li class="<%= active_if_current('specimen') %>">
        <a href="#specimen" data-toggle="tab"><%= @alias_specimen + data_count(@place.specimens) %></a>
      </li>
      <li class="<%= active_if_current('neighbor') %>">
        <a href="#neighbor" data-toggle="tab">neighbor</a>
      </li>
      <li class="<%= active_if_current('file') %>">
        <a href="#file" data-toggle="tab"><%= "file#{data_count(@place.attachment_files)}" %></a>
      </li>
      <li class="<%= active_if_current('geoname') %>">
        <a href="#geoname" data-toggle="tab">geoname</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <% tab_info = [
        ["at-a-glance",nil],
        ["specimen",@place.specimens],
        ["neighbor",nil],
        ["file",@place.attachment_files],
        ["geoname",nil]
    ] %>
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
