<ul class="nav navbar-nav navbar-right">
  <li>
  <% if current_user.box %>
  <%= link_to box_path(current_user.box) do %>
    <span class="glyphicon glyphicon-home"></span>
  <% end %>
  <% else %>
  <%= link_to root_path do %>
    <span class="glyphicon glyphicon-home"></span>
  <% end %>
  <% end %>
  </li>
  <% if current_user.admin? %>
  <li>
  <%= link_to system_preference_path ,title: "system preference" do %>
    <span class="glyphicon glyphicon-wrench"></span>
  <% end %>
  </li>
  <% end %>
  <li>
  <%= link_to edit_account_path,title: "account" do %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
  </li>
  <li>
  <%= link_to destroy_user_session_path, method: :delete, data: {confirm: t("confirm.logout")}, title: "logout" do %>
    <span class="glyphicon glyphicon-off"></span>
  <% end %>
  </li>
  <li>
  <%= link_to Settings.help_url, title: "help" do %>
    <span class="glyphicon glyphicon-question-sign"></span>
  <% end %>
  </li>
</ul>

<%= search_form_for @records_search, url: records_path, class: "navbar-form navbar-right" do |f| %>
  <div class="form-group">
    <%= f.text_field(:name_or_global_id_or_datum_of_Specimen_type_classification_name_cont, class: "form-control") %>
  </div>
  <%= f.submit "search", class: "btn btn-default" %>
<% end %>
